.navbar-logo{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;

}

.nav-bar {
    width: 100%;
    margin: 0 auto;
}


.nav-search-button {
    display: flex;
    flex-direction: row;
    vertical-align: middle;

}

.search-bar {
    margin: 50px;
}


.navbar-links {
    padding-right: 100px;
}


.logo-navigation  {
    height: 100px;
    margin: 0 auto;
}

.nav-link {
    color: #8fa6bf;
    font-size: 20px;
}

.nav-link:hover {
    color: #8a0b00 ;
}
.logo-nav {
    height: 30px;
}

.nav-item {
    color: #8a0b00;
}